body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #343a40;
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

header {
    background: #007bff;
    color: #fff;
    padding: 20px;
    border-bottom: 4px solid #0056b3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header-content .text {
    flex-grow: 1;
    margin-right: 20px; /* Add margin to the right */
}

.image-links {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

header .image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    margin-left: 10px; /* Adjust margin as needed */
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.links a {
    color: #fff;
    margin-bottom: 5px;
    font-size: 1.5em;
    transition: color 0.3s;
}

.links a:hover {
    color: #ffd700; /* Change to a gold color on hover */
}

.about, .projects {
    background: #ffffff;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.about h2, .projects h2 {
    margin-top: 0;
    color: #007bff;
}

.project {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-icon {
    font-size: 2em;
    color: #007bff;
    margin-right: 20px;
}

.project-details {
    flex-grow: 1;
}

.project h3 {
    margin: 0;
    color: #343a40;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
}

footer {
    background: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    border-top: 4px solid #0056b3;
}

footer p {
    margin: 0;
}

/* Transition effect on scroll */
.about, .projects {
    opacity: 0;
    transform: translateY(20px);
}

.about.visible, .projects.visible {
    opacity: 1;
    transform: translateY(0);
}
